<template>
  <div>
    <b-navbar variant="faded" type="dark">
      <b-navbar-brand tag="h1" class="mb-0 white logo-name"
        ><img
          src="../assets/navbar-image.png"
          alt="logo"
          class="logo"
        />anime<span class="navbar-image">yabu.</span></b-navbar-brand
      >
    </b-navbar>
    <b-container>
      <b-row class="mt-5 ml-1">
        <img src="../assets/vector.svg" />
      </b-row>
    </b-container>
    <b-container>
      <img
        class="yabu-image"
        alt="Login Image"
        src="../assets/login-image.png"
      />
      <p class="login-title">ひさしぶり!</p>
      <p class="miss-you">¡Hola, te extrañamos!</p>
    </b-container>
    <div class="formulario">
      <b-row>
        <b-col align-self="center" align-h="center" cols="6">
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <div role="group">
              <label class="email-name">Email</label>
              <b-form-input placeholder="usuario@" trim></b-form-input>
            </div>

            <!-- <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button> -->
          </b-form>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        name: "",
        food: null,
        checked: [],
      },
      foods: [
        { text: "Select One", value: null },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn",
      ],
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.logo {
  height: 46px;
  width: 46px;
  margin-right: 14px;
}
.logo-name {
  width: 129px;
  height: 26px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.065em;

  color: #ffffff;
}
.navbar-image {
  color: #ca38ed;
}

.yabu-image {
  width: 277px;
  height: 136px;
}
.login-title {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 36.5385px;
  line-height: 55px;
  letter-spacing: 0.065em;
}
.miss-you {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.065em;
}
.email-name {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.103101px;
}

.formulario {
  text-align: left;
}
</style>