<template>
  <b-container fluid id="app" class="bv-example-row">
    <b-row>
      <b-col class="login"><router-view /></b-col>
      <b-col class="anime">ANIME AQUÍ</b-col>
    </b-row>
  </b-container>
</template>

<style>
#app {
  text-align: center;
  background-color: #3e1149;
  color: #fff;
}

.login {
  background-color: #000;
  height: auto;
  
  
}
</style>
